

#apppage .view {
  background-image: url("https://scontent-amt2-1.xx.fbcdn.net/v/t1.15752-9/81125711_2532131660237889_3173944822738190336_n.jpg?_nc_cat=103&_nc_ohc=LgBfy4BhKlAAQmFDHVaB_Zkj7ocNR-sxMPxMzKtHsOndHen79yTM_pSvQ&_nc_ht=scontent-amt2-1.xx&oh=21571cf9832cc40cfcac4382733b1208&oe=5EA89AF7");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}

@media only screen and (max-width: 400px) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  #apppage .animated img {
    max-height: 35vh;
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  #apppage .view {
    min-height: 150vh;
  }
}
#links {
  padding: 15px;


}
