body {
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
}


.btn-category {
	padding: 5px;
	height: 40px;
	width: 100px;
	color: black;
}
.carousel {
	margin: auto;
	width: 1000px;
	height: 600px;
}

.login-form {
	color: rhb(51, 51, 51);
	direction: ltr;
	display: block;
	flex-grow: 1;
	text-size-adjust: 100%;
	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	-webkit-font-smoothing: antialiased;
}
.input-field {
	color: rgb(51, 51, 51);
	direction: ltr;
}

.shopping-cart {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	margin-top: 30px;
}

.products {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product-card {
	margin: 20px;
	width: 275px;
	box-sizing: border-box;
}

.product-card img {
	max-height: 80%;
	width: auto;
	max-width: 80%;
}

.product-card .image {
	height: 150px;
	text-align: center;
	margin-top: 50px;
}

.textDescription {
	font-size: 12px;
	line-height: 0px;
}

.shopping-cart {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 500px;
	padding: 10px;
	height: 100%;
	text-align: center;
}
.shopping-cart table {
    margin-top: 50px;
    text-align: center;
}

.shopping-cart table tfoot {
    font-weight: bold;
    text-align: right;
}

.shopping-cart table td {
    min-width: 100px;
}


.shopping-cart .product-img {
    width: 100px;
}

.h6 {
	text-align: "center" !important;
}
.categoryClass {
	width: 280px;
	border-right: 1px solid lightgray;
	margin-right: 30px;
	padding-right: 10px;
}

.navBar {
	margin-top: 10px;
	padding: 15px;
	text-align: center;
}

.navbar-img-brands-logo {
	width: 50px;
	padding: 5px;
}

.icons {
	display: flex;
	color: black;
	padding: 20px;
	margin-top: 5px;
	margin-right: 15px;
}

.icon:hover {
	transform: translateY(-3px);
}

.hybrid-login-form.hybrid-login-form-signup {
	min-height: 200px;
}

.hybrid-login-form {
	padding: 40px 48px 40px;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	color: rgb(51, 51, 51);
	display: flex;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-sizing: border-box;
	direction: ltr;
	flex-direction: column;
	margin-bottom: 90px;
	margin: auto;
	min-height: 660px;
	min-width: 300px;
	padding-bottom: 40px;
	padding-left: 68px;
	padding-right: 68px;
	padding-top: 60px;
	text-size-adjust: 100%;
	width: 450px;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-font-smoothing: antialiased;
}
.search-form {
	color: rgba(0, 0, 0, 0.75);
	display: block;
	color: rgb(51, 51, 51);
	margin: auto;
	margin-top: 12px;
	padding: 10px;
}

.button-search-bar {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-decoration-color: white;
	height: 40px;
	width: 100px;
	padding: 2px;
	margin: auto;
}
a {
	color: white;
}
.navbar-link {
	color: black;
	padding: 10px;
	display: flex;
	font-size: 25px;
	margin-top: 7px;
}
.navbar-links {
	display: flex;
	font-size: 25px;
	color: black;
	padding: 15px;
	margin-left: 50px;
}
.dropdown {
	color: blue;
	padding: 10px;
	display: flex;
	font-size: 25px;
}

.box-footer {
	background-color: white;
	padding: 20px;
	text-align: center;
	font-size: 15px;
}
