body {
	background-image: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.h6 {
	text-align: "center" !important;
}
												/* NAVBAR */
.navBar {
	margin-top: 1px;
	padding: 1px;
	text-align: center;
}

.navbar-img-brands-logo {
	width: 40px;
	padding: 5px;
}

.icons {
	display: flex;
	color: #ff9900;
	position: absolute;
	top: 20px;
	right: 100px;
}
.home-icon {
	margin-left: -500px;
	margin-top: 15px;
	padding: 5px;
}

.icon:hover {
	transform: translateY(-3px);
}

.dropdown {
	padding: 10px;
	display: flex;
}

.navbar-link {
	color: #ff9900;
	padding: 10px;
	display: flex;
	margin-top: 5px;
}
.dropdown-item {
	background-color: #232f3e;
	color: #ff9900;
	padding: 8px 20px;
}
.dropdown-menu.show {
	background-color: #232f3e;
}
.navbar-links {
	position: relative;
	display: flex;
	font-size: 25px;
	margin-left: 25px;
	color: #ff9900;
	font-weight: 700;
}
												/*  LAYOUT  */

.search-form {
	color: rgba(0, 0, 0, 0.75);
	display: block;
	color: rgb(51, 51, 51);
	margin: auto;
	margin-top: 12px;
	padding: 10px;
}
.search-bar {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateY(-50% -50%);
}

.carousel {
	margin: auto;
	width: 1000px;
	height: 600px;
}

.text-center {
	color: #ff9900 !important;
}
.input-field {
	color: #ff9900;
	direction: ltr;
}
.textDescription {
	font-size: 12px;
	line-height: 0px;
}

.justify-content-center {
	position: relative;
	background-color: #232f3e;
	margin-bottom: 25px;
}

.box-footer {
	background-color: #232f3e;
	padding: 20px;
	text-align: center;
	font-size: 15px;
	color: #ff9900;
}

													/*  CATEGORIES */
.categoryClass {
	width: 280px;
	border-right: 1px solid lightgray;
	margin-right: 30px;
	padding-right: 10px;
}

.btn-category {
	padding: 5px;
	height: 40px;
	width: 100px;
	color: black;
}

													/* LOGIN & SIGNUP */
.login-form {
	direction: ltr;
	display: block;
	flex-grow: 1;
	text-size-adjust: 100%;
	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	-webkit-font-smoothing: antialiased;
	
}
.login-page{
	height: 100vh;
}

.hybrid-login-form {
	padding: 40px 48px 40px;
	background-color: #232f3e;
	border-radius: 4px;
	display: flex;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-sizing: border-box;
	direction: ltr;
	flex-direction: column;
	margin-bottom: 90px;
	margin: auto;
	min-height: 660px;
	min-width: 300px;
	padding-bottom: 40px;
	padding-left: 68px;
	padding-right: 68px;
	padding-top: 60px;
	text-size-adjust: 100%;
	width: 450px;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-font-smoothing: antialiased;
}

.btn.btn-danger {
	background-color: #ff9900 !important;
}
.shopping-cart {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	margin-top: 30px;
}

/* PRODUCTS */

.products {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product-card {
	margin: 10px;
	width: 275px;
	box-sizing: border-box;
}

.product-card img {
	max-height: 80%;
	width: auto;
	max-width: 80%;
}

.product-card .image {
	height: 150px;
	text-align: center;
	margin-top: 50px;
}
.product-list-page {
	height: 100vh;
}

/* SHOPPING CRT */
.shopping-cart {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 500px;
	padding: 10px;
	height: 100%;
	text-align: center;
}
.shopping-cart table {
	margin-top: 50px;
	text-align: center;
}

.shopping-cart table tfoot {
	font-weight: bold;
	text-align: right;
}

.shopping-cart table td {
	min-width: 100px;
}

.shopping-cart .product-img {
	width: 100px;
}

.hybrid-login-form.hybrid-login-form-signup {
	min-height: 200px;
}
.all-product-link {
	margin-top: 15px;
	margin-right: 25px;
	margin-left: 25px;
}
.all-product-link:hover {
	transform: translateY(-4px);
}

.shopping-cart {
	height: 100vh !important;
}
.button-search-bar {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-decoration-color: white;
	height: 40px;
	width: 100px;
	padding: 2px;
	margin: auto;
}
a {
	color: #ff9900 !important;
	font-weight: 400;
}

.modal-btn {
	font-size: 10px;
}
.modal-btn-a {
	color: white !important;
}
.a.modal-btn.btn.btn-primary {
	color: white !important;
}
.btn-primary {
	background-color: #ff9900 !important;
	color: white;
	padding: 8px;
}
.btn-primary.dropdown-toggle {
	background-color: #ff9900 !important;
}
